HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### v1 ###
/src/main/java/basic/classroom/controller/mvc/login/v1/
/src/main/java/basic/classroom/controller/mvc/members/v1/
/src/main/resources/templates/login/v1/
/src/main/resources/templates/member/instructor/v1/
/src/main/resources/templates/member/student/v1/
/src/main/java/basic/classroom/service/jpa/
/src/main/java/basic/classroom/service/datajpa/
/src/main/java/basic/classroom/service/etc/
/src/test/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### app.config ###
/src/main/resources/application.properties
/src/test/resources/application.properties