<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head th:replace="~{fragments/body :: bodycss}"/>
<head>
<style>
    .position-right {
        margin-left: auto;
        margin-right: 0;
    }
    .option-margin {
        margin-right: 5px;
    }

    @media (max-width: 800px) {
        .search-font {
            font-size: 10px;
        }
        .option-margin {
            margin-right: 0px;
        }
    }

    @media (max-width: 500px) {
        .card-title {
            font-size: 17px;
        }
        .card-text {
            font-size: 13px;
            margin-bottom: 5px;
        }
        #addLectureBtn button, #cancelLectureBtn button, #notAddLectureBtn button{
            font-size: 13px;
            width: 80px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
</style>
</head>
<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginStudentHeader}"/>
    <div th:replace="~{fragments/body :: studentOffCanvas}"/>

    <div class="member-container body-display" th:object="${student}">
        <div th:replace="~{fragments/body :: studentSideBar}"/>

        <div class="body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">강의 찾기</li>
                    </ol>
                </nav>
            </div>

            <div class="container p-3">
                <nav class="navbar bg-body-tertiary mb-3" style="background-color: #e3f2fd;">
                    <div class="container-fluid">
                        <div id="searchBar">
                            <form id="searchCondition" th:action="@{/student/find/lectures}" class="d-flex" method="get" th:object="${searchConditionDto}">
                                <select class="form-select-sm search-font option-margin"
                                        th:name="status" th:value="*{status}" th:field="*{status}">
                                    <option th:value="null">강의 상태</option>
                                    <option th:each="lectureStatus : ${lectureStatusList}"
                                            th:value="${lectureStatus}" th:text="${lectureStatus}"></option>
                                </select>
                                <select class="form-select-sm search-font option-margin"
                                        th:name="condition" th:value="*{condition}" th:field="*{condition}">
                                    <option th:value="null">검색 조건</option>
                                    <option th:each="lectrueSearchCondition : ${lectureSearchConditions}"
                                            th:value="${lectrueSearchCondition}" th:text="${lectrueSearchCondition}"></option>
                                </select>
                                <br/>
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" th:name="text" th:value="*{text}">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                                <div th:if="${#fields.hasGlobalErrors()}">
                                    <p class="alert alert-danger position-absolute position-right" th:text="${#fields.globalErrors()}"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid p-0" >
                    <div class="card mb-3 w-100" th:each="lecture: ${lectures}">
                        <div class="row g-0">
                            <div class="col-md-4 ">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title gmarketSansFont" th:text="'강의명: ' + ${lecture.name}"></h5>
                                    <p class="card-text gmarketSansFont" th:text="'강의ID: ' + ${lecture.id}"></p>
                                    <p class="card-text gmarketSansFont" th:text="'강사: ' + ${lecture.instructor.member.name}"></p>
                                    <p class="card-text gmarketSansFont" th:text="'남은 정원: ' + ${lecture.remainingPersonnel}"></p>
                                    <p class="card-text"><small class="text-body-secondary" th:text="${lecture.lectureStatus}"></small></p>

                                    <div id="notAddLectureBtn" th:if="${lecture.lectureStatus.equals(lectureStatusReady)} or ${lecture.lectureStatus.equals(lectureStatusFull)} and ${student.getApplyingLectures().get(lecture.id) == null}">
                                        <button type="button" class="btn btn-secondary" disabled>신청 불가</button>
                                    </div>
                                    <div id="cancelLectureBtn" th:if="${student.getApplyingLectures().get(lecture.id)}">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="|#cancelLectureModal${lecture.id}|">강의 취소</button>
                                        <div class="modal fade" th:id="|cancelLectureModal${lecture.id}|" tabindex="-1" aria-labelledby="cancelLectureModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="cancelLectureModalLabel">강의 취소</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" th:text="'정말로 ' + ${lecture.name} + ' 강의를 취소하시겠습니까?'"></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                        <form method="post" th:action="@{'/student/cancel/lecture/' + ${lecture.id}}">
                                                            <input type="submit" class="btn btn-danger" th:value="'강의 취소'">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="addLectureBtn" th:if="${lecture.lectureStatus.equals(lectureStatusOpen)}" th:unless="${student.getApplyingLectures().get(lecture.id)}">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="|#addLectureModal${lecture.id}|">강의 신청</button>
                                        <div class="modal fade" th:id="|addLectureModal${lecture.id}|" tabindex="-1" aria-labelledby="addLectureModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="addLectureModalLabel">강의 신청</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" th:text="'정말로 ' + ${lecture.name} + ' 강의를 신청하시겠습니까?'"></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                        <form method="post" th:action="@{'/student/add/lecture/' + ${lecture.id}}">
                                                            <input type="submit" class="btn btn-primary" th:value="'강의 신청'" >
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="d-flex justify-content-center mt-3" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <button form="searchCondition" type="submit" class="page-link" th:name="page" th:value="${startPage}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>

                        <li class="page-item" th:unless="${pages.contains(startPage)}">
                            <a class="page-link" href="#" aria-label="morePrevious" th:text="'...'"></a>
                        </li>

                        <li class="page-item" th:each="page: ${pages}">
                            <button form="searchCondition" type="submit" class="page-link" th:name="page" th:value="${page}" th:text="${page}"></button>
                        </li>

                        <li class="page-item" th:unless="${pages.contains(endPage)}">
                            <a class="page-link" href="#" aria-label="moreNext" th:text="'...'"></a>
                        </li>

                        <li class="page-item">
                            <button form="searchCondition" class="page-link" th:name="page" th:value="${endPage}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>