<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<head th:replace="~{fragments/bodyContainer :: bodyContainerCss}"/>
<head>
<style>
    .position-right {
        margin-left: auto;
        margin-right: 0;
    }
</style>
</head>
<body>
<div>
    <div th:replace="~{fragments/bodyHeader :: bodyLoginHomeHeader}"/>
    <div class="member-container" th:object="${student}">
        <div th:replace="~{fragments/bodyContainer :: studentSideBar}"/>

        <div class="container body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">강의 찾기</li>
                    </ol>
                </nav>
            </div>

            <div class="container p-3 h-100 ">

                <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="searchBar">
                            <form th:action="@{/student/find/lectures}" class="d-flex" method="get" th:object="${searchConditionDto}">
                                <select class="form-select-sm" th:name="status" th:value="*{status}">
                                    <option th:value="null" selected>강의 상태</option>
                                    <option th:each="lectureStatus : ${lectureStatusList}"
                                            th:value="${lectureStatus}" th:text="${lectureStatus}"></option>
                                </select>
                                <select class="form-select-sm" th:name="condition" th:value="*{condition}">
                                    <option th:value="null" selected>검색 조건</option>
                                    <option th:each="lectrueSearchCondition : ${lectureSearchConditions}"
                                            th:value="${lectrueSearchCondition}" th:text="${lectrueSearchCondition}"></option>
                                </select>
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" th:name="text" th:value="*{text}">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                                <div th:if="${#fields.hasGlobalErrors()}" class="text-">
                                    <p class="alert alert-danger position-absolute position-right" th:text="${#fields.globalErrors()}"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid bg-white border-lightgray h-75 p-0">
                    <div class="card mb-3 w-100" th:each="lecture: ${lectures}">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title gmarketSansFont" th:text="'강의명: ' + ${lecture.name}"></h5>
                                    <p class="card-text gmarketSansFont" th:text="'강사: ' + ${lecture.instructor.member.name}"></p>
                                    <p class="card-text gmarketSansFont" th:text="'남은 정원: ' + ${lecture.personnel}"></p>
                                    <p class="card-text"><small class="text-body-secondary" th:text="${lecture.lectureStatus}"></small></p>

                                    <div id="notAddLectureBtn" th:if="${lecture.lectureStatus.equals(lectureStatusReady)} or ${lecture.lectureStatus.equals(lectureStatusFull)} and ${student.getApplyingLectures().get(lecture.id) == null}">
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#notAddLectureModal" disabled>신청 불가</button>
                                    </div>
                                    <div id="cancelLectureBtn" th:if="${student.getApplyingLectures().get(lecture.id)}">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelLectureModal">강의 취소</button>
                                        <div class="modal fade" id="cancelLectureModal" tabindex="-1" aria-labelledby="cancelLectureModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="cancelLectureModalLabel">강의 취소</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" th:text="'정말로 강의를 취소하시겠습니까?'"></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                        <form method="post" th:action="@{'/student/cancel/lecture/' + ${lecture.id}}">
                                                            <input type="submit" class="btn btn-danger" th:value="'강의 취소'">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="addLectureBtn" th:if="${lecture.lectureStatus.equals(lectureStatusOpen)}" th:unless="${student.getApplyingLectures().get(lecture.id)}">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addLectureModal">강의 신청</button>
                                        <div class="modal fade" id="addLectureModal" tabindex="-1" aria-labelledby="addLectureModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="addLectureModalLabel">강의 신청</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" th:text="'정말로 강의를 신청하시겠습니까?'"></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                        <form method="post" th:action="@{'/student/add/lecture/' + ${lecture.id}}">
                                                            <input type="submit" class="btn btn-primary" th:value="'강의 신청'" >
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>