<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<head th:replace="~{fragments/bodyContainer :: bodyContainerCss}"/>
<body>
<div>
    <div th:replace="~{fragments/bodyHeader :: bodyLoginHomeHeader}"/>
    <div class="member-container" th:object="${student}">
        <div th:replace="~{fragments/bodyContainer :: studentSideBar}"/>

        <div class="container body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">내 강의</li>
                    </ol>
                </nav>
            </div>

            <div class="container p-3 h-100">
                <div class="container-fluid bg-white border-lightgray h-75 p-0">
                    <div class="card mb-3 w-100" th:each="lecture: ${lectures}">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title gmarketSansFont" th:text="${lecture.name}"></h5>
                                    <p class="card-text"><small class="text-body-secondary" th:text="${lecture.instructor.member.name}"></small></p>
                                    <a class="btn btn-secondary" th:href="@{'/student/lecture/' + ${lecture.id}}">강의정보</a>

<!--                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelLectureModal">강의 취소</button>-->
<!--                                    <div class="modal fade" id="cancelLectureModal" tabindex="-1" aria-labelledby="cancelLectureModalLabel" aria-hidden="true">-->
<!--                                        <div class="modal-dialog">-->
<!--                                            <div class="modal-content">-->
<!--                                                <div class="modal-header">-->
<!--                                                    <h1 class="modal-title fs-5" id="cancelLectureModalLabel">강의 취소</h1>-->
<!--                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                                </div>-->
<!--                                                <div class="modal-body" th:text="'정말로 강의를 취소하시겠습니까?'"></div>-->
<!--                                                <div class="modal-footer">-->
<!--                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>-->
<!--                                                    <form method="post"  th:action="@{'/student/cancel/lecture/' + ${lecture.id}}">-->
<!--                                                        <input type="submit" class="btn btn-danger" th:value="'강의 취소'">-->
<!--                                                    </form>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>