<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<head th:replace="~{fragments/bodyContainer :: bodyContainerCss}"/>
<body>
<div id="template-display">
    <div th:replace="~{fragments/bodyHeader :: LoginStudentHeader}"/>
    <div th:replace="~{fragments/bodyContainer :: studentOffCanvas}"/>

    <div class="member-container body-display">
        <div th:replace="~{fragments/bodyContainer :: studentSideBar}"/>

        <div class="body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">My Page</li>
                    </ol>
                </nav>
            </div>

            <div class="container p-3">
                <form class="card justify-content-center mb-3 w-100" method="post" th:action="@{/student/update/pw}">
                    <div class="card-body" th:object="${pwForm}">
                        <div class="mb-3">
                            <label for="loginPw" class="form-label gmarketSansFont">비밀번호</label>
                            <input type="password" class="form-control" id="loginPw" th:errorclass="field-error" th:field="*{password}">
                            <div class="field-error" th:errors="*{password}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="checkLoginPw" class="form-label gmarketSansFont">비밀번호 확인</label>
                            <input type="password" class="form-control" id="checkLoginPw" th:errorclass="field-error" th:field="*{checkPassword}">
                            <div class="field-error" th:errors="*{checkPassword}"></div>
                            <div th:if="${#fields.hasGlobalErrors()}" class="field-error" th:text="${#fields.globalErrors()}"></div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">비밀번호 변경</button>
                        </div>
                        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="changePasswordModalLabel">비밀번호 변경</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" th:text="'정말로 비밀번호를 변경하시겠습니까?'"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                        <input type="submit" class="btn btn-primary" value="비밀번호 변경">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>