<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<head th:replace="~{fragments/bodyContainer :: bodyContainerCss}"/>
<body>
  <div th:replace="~{fragments/bodyHeader :: bodyLoginHomeHeader}"/>
  <div class="member-container" th:object="${lecture}">
    <div th:replace="~{fragments/bodyContainer :: instructorSideBar}"/>

    <div class="container body-container">
      <div class="p-3 border-bottom-lightgray">
        <nav aria-label="breadcrumb"  class="d-flex align-items-center">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Home</li>
            <li class="breadcrumb-item active" aria-current="page">강의 수정</li>
          </ol>
        </nav>
      </div>

      <div class="container p-3 h-100">
        <form th:action method="post" class="container-fluid bg-white border-lightgray h-75">
          <div class="mb-3 mt-3">
            <label for="lectureId" class="form-label gmarketSansFont">강의번호</label>
            <input type="text" class="form-control readonly" id="lectureId" placeholder="강의번호를 입력해주세요."
                   th:field="*{lectureId}" readonly>
            <div class="field-error" th:errors="*{lectureId}"></div>
          </div>
          <div class="mb-3 mt-3">
            <label for="lectureName" class="form-label gmarketSansFont">강의명</label>
            <input type="text" class="form-control readonly" id="lectureName" placeholder="강의명을 입력해주세요."
                   th:field="*{lectureName}" readonly>
          </div>
          <div class="mb-3">
            <label for="instructorId" class="form-label gmarketSansFont">강사 ID</label>
            <input type="text" class="form-control readonly" id="instructorId" placeholder="강사ID를 입력해주세요."
                   th:field="*{instructorId}" readonly>
          </div>
          <div class="mb-3">
            <label for="instructorName" class="form-label gmarketSansFont">강사</label>
            <input type="text" class="form-control readonly" id="instructorName" placeholder="강사를 입력해주세요."
                   th:field="*{instructorName}" readonly>
          </div>
          <div class="mb-3">
            <label for="personnel" class="form-label gmarketSansFont">정원</label>
            <input type="text" class="form-control" id="personnel" placeholder="정원을 입력해주세요."
                   th:errorclass="field-error" th:field="*{personnel}">
            <div class="field-error" th:errors="*{personnel}"></div>
          </div>
          <div class="mb-3">
            <label for="personnel" class="form-label gmarketSansFont">남은 정원</label>
            <input type="text" class="form-control readonly" id="remainingPersonnel" placeholder="남은 정원을 입력해주세요."
                   th:field="*{remainingPersonnel}" readonly>
            <div class="field-error" th:errors="*{remainingPersonnel}"></div>
          </div>
          <div class="mb-3">
            <label for="lectureStatus" class="form-label gmarketSansFont">강의 상태</label>
            <select id="lectureStatus" class="form-select" th:field="*{lectureStatus}" th:errorclass="field-error">
              <option th:each="LectureStatus : ${lectureStatusList}"
                      th:value="${LectureStatus}" th:text="${LectureStatus}"></option>
            </select>
            <div class="field-error" th:errors="*{lectureStatus}"></div>
          </div>
          <div th:if="${#fields.hasGlobalErrors()}" class="mb-3">
              <p class="alert alert-danger" th:text="${#fields.globalErrors()}"></p>
          </div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeLectureModal">강의 수정</button>
          <div class="modal fade" id="changeLectureModal" tabindex="-1" aria-labelledby="changeLectureModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="changeLectureModalLabel">강의 수정</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" th:text="'정말로 강의를 수정하시겠습니까?'"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                  <input type="submit" class="btn btn-primary" value="강의 수정">
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>