<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head th:replace="~{fragments/body :: bodycss}"/>
<head><link rel="stylesheet" th:href="@{/css/lectureImage.css}"></head>

<body>
<div id="template-display">
  <div th:replace="~{fragments/header :: loginInstructorHeader}"/>
  <div th:replace="~{fragments/body :: instructorOffCanvas}"/>

  <div class="member-container body-display" th:object="${lecture}">
    <div th:replace="~{fragments/body :: instructorSideBar}"/>

    <div class="body-container">
      <div class="p-3 border-bottom-lightgray">
        <nav aria-label="breadcrumb"  class="d-flex align-items-center">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Home</li>
            <li class="breadcrumb-item active" aria-current="page">강의 정보</li>
          </ol>
        </nav>
      </div>

      <div class="container-lg p-3 h-100">
        <div class="card justify-content-center mb-3 w-100">
          <div class="row g-0">
            <div class="col-md-4 text-center display-vertical-center p-3">
              <div class="rounded-square-container">
                <img th:unless="${lecture.profileImage == null}" id="profileImg" class="img-fluid" th:src="@{|/instructor/lecture/image/${lecture.id}|}">
                <div th:if="${lecture.profileImage == null}" id="defaultProfileImg" class="profile-img-container">
                  <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-images default-lecture-img" viewBox="0 0 16 16">
                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                    <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="col-md-8 display-vertical-center flex-row">
              <form class="container-fluid bg-white pb-2">
                <div class="mb-3 mt-3">
                  <label for="lectureId" class="form-label gmarketSansFont">강의번호</label>
                  <input type="text" class="form-control readonly" id="lectureId" th:field="*{id}" readonly>
                </div>
                <div class="mb-3 mt-3">
                  <label for="lectureName" class="form-label gmarketSansFont">강의명</label>
                  <input type="text" class="form-control readonly" id="lectureName" th:field="*{name}" readonly>
                </div>
                <div class="mb-3">
                  <label for="instructorId" class="form-label gmarketSansFont">강사 ID</label>
                  <input type="text" class="form-control readonly" id="instructorId" th:field="*{instructor.id}" readonly>
                </div>
                <div class="mb-3">
                  <label for="instructorName" class="form-label gmarketSansFont">강사</label>
                  <input type="text" class="form-control readonly" id="instructorName" th:field="*{instructor.member.name}" readonly>
                </div>
                <div class="mb-3">
                  <label for="personnel" class="form-label gmarketSansFont">정원</label>
                  <input type="text" class="form-control readonly" id="personnel" th:field="*{personnel}" readonly>
                </div>
                <div class="mb-3">
                  <label for="personnel" class="form-label gmarketSansFont">남은 정원</label>
                  <input type="text" class="form-control readonly" id="remainingPersonnel" th:field="*{remainingPersonnel}" readonly>
                </div>
                <div class="mb-3">
                  <label for="lectureStatus" class="form-label gmarketSansFont">강의 상태</label>
                  <input type="text" class="form-control readonly" id="lectureStatus" th:field="*{lectureStatus}" readonly>
                </div>
                <div class="mb-3">
                  <label for="appliedStudent" class="form-label gmarketSansFont">수강생 명단</label><br>
                  <a type="button" class="btn btn-secondary" id="appliedStudent" th:href="@{'/instructor/lecture/' + ${lecture.id} + '/applicants'}">명단 보기</a>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{'/instructor/edit/lecture/' + ${lecture.id}}">강의 수정</a>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>