<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head th:replace="~{fragments/body :: bodycss}"/>

<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginInstructorHeader}"/>
    <div th:replace="~{fragments/body :: instructorOffCanvas}"/>

    <div class="member-container body-display" th:object="${instructor}">
        <div th:replace="~{fragments/body :: instructorSideBar}"/>

        <div class="body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">내 강의</li>
                    </ol>
                </nav>
            </div>

            <div class="container p-3">
                <div class="container-fluid bg-white border-lightgray p-0">
                    <div class="card mb-3 w-100" th:each="lecture : ${lectures}">
                        <div class="row g-0">
                            <div class="col-md-4 img-display">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title gmarketSansFont" th:text="'강의명: ' + ${lecture.name}"></h5>
                                    <p class="card-text gmarketSansFont" th:text="'정원: ' + ${lecture.personnel - lecture.remainingPersonnel} + ' / ' + ${lecture.personnel}"></p>
                                    <p class="card-text"><small class="text-body-secondary" th:text="${lecture.lectureStatus}"></small></p>
                                    <a class="btn btn-secondary" th:href="@{'/instructor/lecture/' + ${lecture.id}}">강의정보</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="d-flex justify-content-center mt-3" aria-label="Page navigation">
                    <form method="get" th:action="@{/instructor/lectures}">
                        <ul class="pagination">
                            <li class="page-item">
                                <button type="submit" class="page-link" th:name="page" th:value="${startPage}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </button>
                            </li>

                            <li class="page-item" th:unless="${pages.contains(startPage)}">
                                <a class="page-link" href="#" aria-label="morePrevious" th:text="'...'"></a>
                            </li>

                            <li class="page-item" th:each="page: ${pages}">
                                <button type="submit" class="page-link" th:name="page" th:value="${page}" th:text="${page}"></button>
                            </li>

                            <li class="page-item" th:unless="${pages.contains(endPage)}">
                                <a class="page-link" href="#" aria-label="moreNext" th:text="'...'"></a>
                            </li>

                            <li class="page-item">
                                <button class="page-link" th:name="page" th:value="${endPage}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </button>
                            </li>
                        </ul>

                    </form>
                </nav>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>