<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head th:replace="~{fragments/body :: bodycss}"/>

<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginInstructorHeader}"/>
    <div th:replace="~{fragments/body :: instructorOffCanvas}"/>

    <div class="member-container body-display" th:object="${instructor}">
        <div th:replace="~{fragments/body :: instructorSideBar}"/>

        <div class="body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">My Page</li>
                    </ol>
                </nav>
            </div>

            <div class="container p-3">
                <div class="card justify-content-center mb-3 w-100">
                    <div class="row g-0">
                        <div class="col-md-4 img-display">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title gmarketSansFont" th:text="'이름: ' + *{member.name}">이름</h4>
                                <p class="card-text gmarketSansFont mb-1" th:text="'아이디: ' + *{member.loginId}">id</p>
                                <p class="card-text gmarketSansFont mb-1" th:text="'이메일: ' + *{member.email}">email</p>
                                <a class="btn btn-primary" th:href="@{/instructor/update/mypage}">회원정보 변경</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>