<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head th:replace="~{fragments/body :: bodycss}"/>
<head><link rel="stylesheet" th:href="@{/css/profileImage.css}"></head>

<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginInstructorHeader}"/>
    <div th:replace="~{fragments/body :: instructorOffCanvas}"/>

    <div class="member-container body-display">
        <div th:replace="~{fragments/body :: instructorSideBar}"/>

        <div class="body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">My Page</li>
                    </ol>
                </nav>
            </div>

            <div class="container-lg p-3 h-100">
                <form class="card justify-content-center mb-3 w-100" method="post" enctype="multipart/form-data">
                    <div class="row g-0">
                        <div class="col-md-4 img-display text-center display-vertical-center p-3">
                            <div id="previewImgContainer" class="circle-container d-none">
                                <img id="previewProfileImg" class="img-fluid" src="">
                            </div>
                            <div id="currentImgContainer" class="circle-container">
                                <img th:unless="${profileImage == null}" id="profileImg" class="img-fluid" th:src="@{/instructor/profile/image}">
                                <div th:if="${profileImage == null}" id="defaultProfileImg">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill default-profile-img" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="card-body" th:object="${instructor}">
                                <div class="mb-3">
                                    <label for="name" class="form-label gmarketSansFont">이름</label>
                                    <input type="text" class="form-control readonly" id="name" placeholder="이름을 입력해주세요."
                                           th:field="*{name}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="loginId" class="form-label gmarketSansFont">아이디</label>
                                    <input type="text" class="form-control readonly" id="loginId" placeholder="아이디를 입력해주세요."
                                           th:errorclass="field-error" th:field="*{loginId}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="loginPwBtn" class="form-label gmarketSansFont">비밀번호</label>
                                    <br/>
                                    <a id="loginPwBtn" class="btn btn-secondary" type="button" th:href="@{/instructor/update/pw}">
                                        비밀번호 변경
                                    </a>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label gmarketSansFont">이메일</label>
                                    <input type="text" class="form-control" id="email" placeholder="이메일을 입력해주세요."
                                           th:errorclass="field-error" th:field="*{email}">
                                    <div class="field-error" th:errors="*{email}"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="imageFile" class="form-label gmarketSansFont">프로필 이미지</label>
                                    <input type="file" class="form-control mb-2" id="imageFile" onchange="loadFile()" th:field="*{imageFile}">

                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#initializeProfileModal">프로필 초기화</button>
                                    <div class="modal fade" id="initializeProfileModal" tabindex="-1" aria-labelledby="initializeProfileModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="initializeProfileModalLabel">프로필 초기화</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" th:text="'정말로 프로필을 초기화하시겠습니까?'"></div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                    <input type="submit" class="btn btn-success" value="프로필 초기화" th:formaction="@{/instructor/initialize/profile}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <input type="submit" class="btn btn-primary" value="회원정보 변경" th:formaction="@{/instructor/update/mypage}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
<script>
    function loadFile() {
        // console.log("call load File");
        let currentImgContainer = document.getElementById('currentImgContainer');
        let previewImgContainer = document.getElementById('previewImgContainer');
        let previewImg = document.getElementById('previewProfileImg');
        let imageFile = document.getElementById('imageFile');
        const [file] = imageFile.files;

        if (file) {
            previewImg.src = URL.createObjectURL(file);
            if (previewImgContainer.classList.contains('d-none')) {
                previewImgContainer.classList.remove('d-none');
                currentImgContainer.classList.add('d-none');
            }
        }
        else {
            previewImgContainer.classList.add("d-none");
            if (currentImgContainer.classList.contains("d-none")) {
                currentImgContainer.classList.remove("d-none");
            }
        }

    };
</script>
</body>
</html>