<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head th:replace="~{fragments/body :: bodycss}"/>
<head>
  <style>
    .border-bottom-gray {
      border-bottom: 2px solid gray;
    }
    .applicants-container {
      overflow: scroll;
      height: 500px;
    }
    .fs-id {
      width: 60px;
    }
    .fs-list {
      padding-right: 5px;
      padding-left: 5px;
    }
    @media (max-width: 550px) {
      .fs-list {
        font-size: 13px;
      }
    }
  </style>
</head>
<body>
<div id="template-display">
  <div th:replace="~{fragments/header :: loginInstructorHeader}"/>
  <div th:replace="~{fragments/body :: instructorOffCanvas}"/>

    <div class="member-container body-display">
    <div th:replace="~{fragments/body :: instructorSideBar}"/>

    <div class="body-container">
      <div class="p-3 border-bottom-lightgray">
        <nav aria-label="breadcrumb"  class="d-flex align-items-center">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Home</li>
            <li class="breadcrumb-item active" aria-current="page">강의 정보</li>
            <li class="breadcrumb-item active" aria-current="page">수강생 명단</li>
          </ol>
        </nav>
      </div>

      <div class="container p-3 bg-white">
        <div class="container-fluid border-lightgray p-3 pb-0" >
          <div class="d-flex border-bottom-gray w-100 m-0 p-2">
            <p class="m-0 gmarketSansFont fs-list fs-id">ID</p>
            <p class="m-0 gmarketSansFont fs-list">수강생</p>
          </div>
          <div id="applicants" class="d-flex applicants-container border-bottom-lightgray w-100 m-0 p-2"></div>
        </div>
        <div id="buttons" class="text-center mt-2"></div>
      </div>
    </div>
  </div>

  <div th:replace="~{fragments/footer :: footer}"/>
</div>
<script src="/js/member/instructor/applicants.js"></script>
</body>
</html>