<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head th:replace="~{fragments/body :: bodycss}"/>
<head><link rel="stylesheet" th:href="@{/css/profileImage.css}"></head>

<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginInstructorHeader}"/>
    <div th:replace="~{fragments/body :: instructorOffCanvas}"/>

    <div class="member-container body-display">
        <div th:replace="~{fragments/body :: instructorSideBar}"/>

        <div class="body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">My Page</li>
                    </ol>
                </nav>
            </div>

            <div class="container-lg p-3 h-100">
                <div class="card justify-content-center mb-3 w-100">
                    <div class="row g-0">
                        <div class="col-md-4 text-center display-vertical-center p-3">
                            <div id="profile-image" class="circle-container"></div>
                        </div>

                        <div class="col-md-8 display-vertical-center flex-row">
                            <div id="mypage-info" class="card-body">
                                <h4 id="mypage-info-name" class="gmarketSansFont"></h4>
                                <p id="mypage-info-id" class="gmarketSansFont mb-1"></p>
                                <p id="mypage-info-email" class="gmarketSansFont mb-1"></p>
                                <a id="change-mypage-button" class="btn btn-primary mt-3" href="/instructor/update/my-page">회원정보 변경</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
<script src="/js/member/instructor/myPage.js"></script>
</body>
</html>