<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head th:replace="~{fragments/body :: bodycss}"/>
<head><link rel="stylesheet" th:href="@{/css/profileImage.css}"></head>

<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginInstructorHeader}"/>
    <div th:replace="~{fragments/body :: instructorOffCanvas}"/>

    <div class="member-container body-display">
        <div th:replace="~{fragments/body :: instructorSideBar}"/>

        <div class="body-container">
            <div class="p-3 border-bottom-lightgray">
                <nav aria-label="breadcrumb"  class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">My Page</li>
                    </ol>
                </nav>
            </div>

            <div class="container-lg p-3 h-100">
                <form id="update-mypage-form" class="card justify-content-center mb-3 w-100" enctype="multipart/form-data">
                    <div class="row g-0">
                        <div class="col-md-4 text-center display-vertical-center p-3">
                            <div id="previewImgContainer" class="circle-container d-none">
                                <img id="previewProfileImg" class="img-fluid" src="">
                            </div>
                            <div id="currentImgContainer" class="circle-container"></div>
                        </div>

                        <div class="col-md-8">
                            <div id="instructor-mypage-info" class="card-body">
                                <div class="mb-3">
                                    <label for="name" class="form-label gmarketSansFont">이름</label>
                                    <input type="text" id="name" class="form-control readonly" name="name" placeholder="이름을 입력해주세요." readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="loginId" class="form-label gmarketSansFont">아이디</label>
                                    <input type="text" id="loginId" class="form-control readonly" name="loginId" placeholder="아이디를 입력해주세요." readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="loginPwBtn" class="form-label gmarketSansFont">비밀번호</label>
                                    <br/>
                                    <a id="loginPwBtn" class="btn btn-secondary" type="button" href="/instructor/update/my-page/password">
                                        비밀번호 변경
                                    </a>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label gmarketSansFont">이메일</label>
                                    <input type="email" id="email" class="form-control" name="email" placeholder="이메일을 입력해주세요." required>
                                    <div id="email-error" class="field-error"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="imageFile" class="form-label gmarketSansFont">프로필 이미지</label>
                                    <input type="file" id="imageFile" class="form-control mb-2" name="imageFile" onchange="loadFile()">

                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#initializeProfileModal">프로필 초기화</button>
                                    <div class="modal fade" id="initializeProfileModal" tabindex="-1" aria-labelledby="initializeProfileModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="initializeProfileModalLabel">프로필 초기화</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" th:text="'정말로 프로필을 초기화하시겠습니까?'"></div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                    <button id="initialize-profile-btn" class="btn btn-success">프로필 초기화</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-primary" value="회원정보 변경">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div>
<script src="/js/member/instructor/updateMyPage.js"></script>
<script src="/js/loadFile.js"></script>
</body>
</html>