<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="bodycss">
    <link rel="stylesheet" href="/css/sideBar.css">
    <link rel="stylesheet" href="/css/body.css">
</head>

<div th:fragment="studentSideBar" id="student-side-bar" class="btn-group-vertical sidebar">
    <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/student/lectures}">내 강의</a>
    <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/student/find/lectures}">강의 찾기</a>
    <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/student/my-page}">My Page</a>
</div>

<div th:fragment="instructorSideBar" id="instructor-side-bar" class="btn-group-vertical sidebar">
    <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/instructor/lectures}">내 강의</a>
    <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/instructor/create/lectures}">강의 등록</a>
    <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/instructor/my-page}">My Page</a>
</div>

<div th:fragment="studentOffCanvas" id="student-offcanvas" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="student-offcanvas-label"
      style="background-color: #111938;">
    <div class="offcanvas-header border-bottom border-light border-opacity-50">
        <h5 id="student-offcanvas-label" class="offcanvas-title kohiFont logo text-light text-center display-vertical-center" style="height: 80px;">ClassRoom</h5>
        <button type="button" class="btn-close btn-close-white h-100" data-bs-dismiss="offcanvas" aria-label="Close" style="height: 80px;"></button>
    </div>

    <div class="offcanvas-body h-100">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item border-opacity-50" >
                <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/student/lectures}">내 강의</a>
            </li>
            <li class="nav-item border-opacity-50">
                <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/student/find/lectures}">강의 찾기</a>
            </li>
            <li class="nav-item border-opacity-50">
                <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/student/my-page}">My Page</a>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="instructorOffCanvas" id="instructor-offcanvas" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="instructor-offcanvas-label"
      style="background-color: #111938;">
    <div class="offcanvas-header border-bottom border-light border-opacity-50">
        <h5 id="instructor-offcanvas-label" class="offcanvas-title kohiFont logo text-light text-center display-vertical-center" style="height: 80px;">ClassRoom</h5>
        <button type="button" class="btn-close btn-close-white h-100" data-bs-dismiss="offcanvas" aria-label="Close" style="height: 80px;"></button>
    </div>

    <div class="offcanvas-body h-100">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item border-opacity-50" >
                <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/instructor/lectures}">내 강의</a>
            </li>
            <li class="nav-item border-opacity-50">
                <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/instructor/create/lectures}">강의 등록</a>
            </li>
            <li class="nav-item border-opacity-50">
                <a class="btn btn-lg flex-grow-0 sidebar-btn oneMobileFont" th:href="@{/instructor/my-page}">My Page</a>
            </li>
        </ul>
    </div>
</div>