<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="homeHeader" class="header">
<!--top-fixed-->
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <a class="navbar-brand kohiFont link-light logo" href="/">ClassRoom</a>
      <a class="row-cols-6 login-btn gmarketSansFont" href="/login">Login / 회원가입</a>
    </div>
  </nav>
  <script src="/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</div>

<div th:fragment="loginHeader" class="header">
<!--top-fixed-->
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <a class="navbar-brand kohiFont link-light logo" href="/">ClassRoom</a>
    </div>
  </nav>
  <script src="/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</div>

<div th:fragment="loginStudentHeader" class="header">
  <!--top-fixed-->
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <div class="navbar-left-align">
        <button class="list-btn" data-bs-toggle="offcanvas" data-bs-target="#student-offcanvas" aria-controls="student-offcanvas">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list list-svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
        <a class="navbar-brand kohiFont link-light logo" href="/">ClassRoom</a>
      </div>
      <form action="/logout" method="post">
        <button class="row-cols-6 login-btn gmarketSansFont" type="submit" th:text="Logout"></button>
      </form>
    </div>
  </nav>
  <script src="/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</div>

<div th:fragment="loginInstructorHeader" class="header">
  <!--top-fixed-->
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <div class="navbar-left-align">
        <button class="list-btn" data-bs-toggle="offcanvas" data-bs-target="#instructor-offcanvas" aria-controls="instructor-offcanvas">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list list-svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
        <a class="navbar-brand kohiFont link-light logo" href="/">ClassRoom</a>
      </div>
      <form action="/logout" method="post">
        <button class="row-cols-6 login-btn gmarketSansFont" type="submit" th:text="Logout"></button>
      </form>
    </div>
  </nav>
  <script src="/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</div>
