.error-container {
    display: inline-flex;
    /*border: 5px solid black;*/
    margin-top: 30px;
    margin-bottom: 30px;
}
.error-message-container {
    width: 400px;
    text-align: center;
    gap: 20px;
}
.error-message-title {
    font-family: SCoreDream;
    text-align: center;
}
.error-message-body {
    font-family: SCoreDream;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 0px;
}
.error-img {
    width: 500px;
    object-fit: contain;
}
.server-error-img {
    width: 600px;
    object-fit: contain;
}
@media (max-width: 1000px) {
    .error-message-container {
        width: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media (max-width: 800px) {
    .error-container {
        flex-direction: column-reverse;
    }
    .error-message-container {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .server-error-img {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .error-img {
        width: 100%;
    }
}