.field-error {
     border-color: #dc3545;
     color: #dc3545;
 }

.field-error:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
.readonly, .readonly:focus {
    background-color: #e9ecef;
}