.sidebar {
    justify-content: flex-start;
    background-color: #111938;
    border-radius: 0px;
    height: 100%;
    width: 100%;
}

.sidebar-btn {
    display: flex;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid black;
    color: white;
}

.sidebar-btn:hover {
    color: white;
    background-color: #232e5a;
}

.offcanvas-header {
    height: 80px;
}

@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 500px) {
    .offcanvas-header {
        height: 50px;
    }
}