.member-container {
    display: grid;
    grid-template-columns: 250px auto;
    width: 100%;
    height: 1200px;
}
.btn-group-vertical {
    border-radius: 0px;
    background-color: #111938;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.sidebar-btn {
    display: flex;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid black;
    color: white;
}
.sidebar-btn:hover {
    color: white;
    background-color: #232e5a;
}

@media (max-width: 1000px) {
    .btn-group-vertical {
        display: none;
    }
    .member-container {
        grid-template-columns: auto;

    }
}