<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<head>
<style>
#reference a {
    display: block;
    text-decoration: none;
    text-align: center;
}
</style>
</head>
<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginHeader}"/>

    <div id="reference" class="body-display display-vertical-center position-relative mt-3 mb-3">
        <div class="mb-3">
            <h3 class="text-center gmarketSansFont">Img&Icons</h3>
            <a class="gmarketSansFont" target="_blank" href="https://www.freepik.com/free-vector/happy-women-learning-language-online-isolated-flat-vector-illustration-cartoon-female-characters-taking-individual-lessons-through-messenger-education-digital-technology-concept_10613101.htm#query=education&position=20&from_view=search&track=sph">pch.vector(Freepik)</a>
            <a class="gmarketSansFont" target="_blank" href="https://www.freepik.com/free-vector/tiny-people-standing-near-prohibited-gesture-isolated-flat-illustration_11235950.htm#query=error&position=18&from_view=search&track=sph">pch.vector(Freepik)</a>
            <a class="gmarketSansFont" target="_blank" href="https://www.freepik.com/free-vector/web-hosting-isometric-composition-with-icons-desktop-computer-parts-with-404-error-users-characters-vector-illustration_39093921.htm#query=error&position=27&from_view=search&track=sph">macrovector(Freepik)</a>
            <a class="gmarketSansFont" target="_blank" href="https://www.freepik.com/free-vector/system-critical-failure-alert-system-message-data-center-view-server-room-with-workers-racks-heat-removing-system-high-temperature-overheat-error_24070628.htm#page=2&query=500%20internal%20server%20error&position=38&from_view=keyword&track=ais">jcomp(Freepik)</a>
            <a class="gmarketSansFont" target="_blank" href="https://www.flaticon.com/free-icons/computer" title="computer icons">Freepik(Flaticon)</a>
            <a class="gmarketSansFont" target="_blank" href="https://icons.getbootstrap.com/">Bootstrap Icons</a>
        </div>

        <div class="mb-3">
            <h3 class="text-center gmarketSansFont">Fonts</h3>
            <a class="gmarketSansFont" target="_blank" href="https://corp.gmarket.com/fonts/">Gmarket Sans</a>
            <a class="oneMobileFont" target="_blank" href="https://www.onestorecorp.com/sv/fordev_font/">One Mobile Title</a>
            <a class="kohiFont" target="_blank" href="https://csp.kohi.or.kr/user/bbs/BD_selectBbs.do?q_bbsCode=1070&q_bbscttSn=20211118135429370">KOHI Baeum</a>
            <a class="sCoreDreamFont" target="_blank" href="https://s-core.co.kr/company/font2/">SCoreDream</a>
        </div>

        <div class="mb-3">
            <h3 class="text-center gmarketSansFont">Open Source</h3>
            <a class="gmarketSansFont" target="_blank" href="https://spring.io/">Java Spring</a>
            <a class="gmarketSansFont" target="_blank" href="https://projectlombok.org/">Lombok</a>
            <a class="gmarketSansFont" target="_blank" href="https://www.thymeleaf.org/">Thymeleaf</a>
            <a class="gmarketSansFont" target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
        </div>

        <div class="mb-3">
            <h3 class="text-center gmarketSansFont">Database</h3>
            <a class="gmarketSansFont" target="_blank" href="https://www.h2database.com/html/main.html">H2 Database</a>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: endingCreditFooter}"/>
</div>
</body>
</html>