<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head><link rel="stylesheet" href="/css/login.css"></head>

<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginHeader}"/>
    <div class="body-display display-vertical-center">
        <div class="container login-container">
            <h3 class="login-header kohiFont">회원가입</h3>
            <br/>
            <form action="/create/member" method="post" th:object="${createMemberForm}">
                <div class="mb-3">
                    <label class="form-label">아이디</label>
                    <input type="text" id="loginId" class="form-control" th:errorclass="field-error"
                           th:field="*{loginId}" placeholder="아이디를 입력하세요.">
                    <div class="field-error" th:errors="*{loginId}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">비밀번호</label>
                    <input type="password" id="loginPw" class="form-control" th:errorclass="field-error"
                           th:field="*{loginPw}" placeholder="비밀번호를 입력하세요.">
                    <div class="field-error" th:errors="*{loginPw}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">이름</label>
                    <input type="text" class="form-control" th:errorclass="field-error"
                           th:field="*{name}" placeholder="이름을 입력하세요.">
                    <div class="field-error" th:errors="*{name}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">이메일</label>
                    <input type="email" class="form-control" th:errorclass="field-error"
                           th:field="*{email}" placeholder="인증시 사용할 이메일을 입력하세요.">
                    <div class="field-error" th:errors="*{email}"></div>
                </div>
                <div class="row mb-3">
                    <div class="col form-check">
                        <input type="radio" class="form-check-input" id="student" name="member-status"
                               th:value="${student}" th:field="*{memberStatus}">
                        <label class="form-check-label" for="student">학생</label>
                    </div>
                    <div class="col form-check">
                        <input type="radio" class="form-check-input" id="instructor" name="member-status"
                               th:value="${instructor}" th:field="*{memberStatus}">
                        <label class="form-check-label" for="instructor">강사</label>
                    </div>
                    <div class="field-error" th:errors="*{memberStatus}" th:text="*{memberStatus}"></div>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary login-submit-btn" type="submit" value="회원가입">
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>