<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<head>
<style>
    .result-container {
        height: 500px;
        border: 5px solid black;
    }
</style>
</head>

<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyLoginHeader"/>

    <div class="container result-container">
        <p th:if="${loginIds.isEmpty()}" th:value="${loginIds}" th:text="'유효하는 회원이 존재하지 않습니다. 다시 확인해주세요.'"></p>
        <ul th:unless="${loginIds.isEmpty()}" th:each="loginId : ${loginIds}">
            <li th:value="${loginId}" th:text="${loginId}"></li>
        </ul>

        <div class="row-cols-2 w-100">
            <a href="/login" class="btn btn-primary col">로그인 화면</a>
            <a th:if="${loginIds == null}" href="/login/help/findIds" class="btn btn-secondary col">아이디 찾기</a>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>