<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>

<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginHeader}"/>
    <div class="body-display display-vertical-center">
        <div class="container login-result-container display-vertical-center">
            <h2 class="alert alert-danger login-alert-result display-vertical-center" th:if="${loginPw == null}" th:value="${loginPw}">
                유효하는 회원이 존재하지 않습니다. 다시 확인해주세요.
            </h2>
            <h2 class="gmarketSansFont fw-bold" th:if="${loginPw != null}" th:value="${loginPw}" th:text="'임시 비밀번호는 ' + ${loginPw} + ' 입니다.'" ></h2>

            <div class="text-center w-100">
                <a href="/login" class="btn btn-primary login-result-btn">로그인 화면</a>
                <a th:if="${loginPw == null}" href="/find/pw" class="btn btn-secondary login-result-btn">비밀번호 찾기</a>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>