<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"/>
<head><link rel="stylesheet" href="/css/login.css"></head>

<body>
<div id="template-display">
    <div th:replace="~{fragments/header :: loginHeader}"/>
    <div id="find-password-result" class="body-display display-vertical-center">
        <div class="container login-result-container display-vertical-center">
            <div id="password-result"></div>

            <div id="support-login" class="text-center w-100">
                <a href="/login" class="btn btn-primary login-result-btn">로그인 화면</a>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"/>
</div>
<script src="/js/login/findPasswordResult.js"></script>
</body>
</html>